* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.name {
  font-size: 16px;
}

.nav-link {
  color: #2e266f;
  font-weight: 500;
}

.logout {
  text-decoration: none;
  color: #000;
}

.profile .logout {
  font-size: 14px;
}

.profile {
  display: flex;
  align-items: center;
  margin-right: 0;
  gap: 20px;
}

.profile img {
  width: 40px; /* Adjust image width as needed */
  border-radius: 50%; /* Add border-radius for a circular profile image */
  margin-right: 10px; /* Adjust margin between image and text as needed */
}
.profile::before {
  content: "";
  display: block;
  width: 3px;
  height: 50px;
  background-color: #efc81a;
}

.desc {
  display: flex;
  flex-direction: column;
}

.name {
  margin-bottom: 5px;
}

.logout {
  font-weight: bold;
  font-size: 17px;
}

/* hero section */

.hero {
  margin-top: 60px;
  margin-left: 200px;
}

.change-photo {
  position: relative;
}

.change-photo img {
  width: 55%;
}

.btn-change {
  position: absolute;
  top: 50%;
  left: 27%;
  transform: translate(-50%, -50%);
  border: none;
  width: 300px;
  padding: 10px 30px;
  border-radius: 8px;
  background-color: #30c0f3;
  color: #fff;
}

.add-file {
  margin-top: 40px;
  /* padding: 0 6%; */
  display: flex;
  flex-direction: column;
}

.title {
  width: 890px;
  height: 60px;
  background-color: #f6f5f4;
  color: #666666;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 9px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.title p {
  margin-top: 10px;
  margin-left: 30px;
}

.ingredients {
  margin-top: 20px;
  width: 890px;
  height: 200px;
  background-color: #f6f5f4;
  display: flex;
  justify-content: start;
  align-items: start;
  border-radius: 9px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ingredients p {
  padding: 30px;
  font-weight: 500;
  font-size: 19px;
}

.category {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 20px;
  width: 180px;
  height: 60px;
  background-color: #f6f5f4;
  border-radius: 9px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 610px;
}

.category p {
  text-align: center;
  margin: auto;
  color: #666666;
  font-size: 18px;
}

.btn-submit {
  margin: 50px 300px;
  width: 300px;
  padding: 10px;
  border: none;
  background-color: #efc81a;
  color: #fff;
  border-radius: 10px;
}

.footer-container {
  width: 100%;
  background-color: #efc81a;
  height: 100%;
  margin-top: 180px;
  padding: 40px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.footer h1 {
  font-size: 52px;
  font-weight: 400;
  color: #2e266f;
  margin-bottom: 31px;
}

.footer p {
  font-size: 20px;
  color: #707070;
}

.footer-nav {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.nav-list ul li a {
  color: #707070;
  font-size: 14px;
  text-decoration: none;
}

.nav-list ul .copyright {
  position: absolute;
  left: 600px;
}

/* brekpoints */
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
  .profile::before {
    display: none;
  }

  .navbar-nav {
    font-size: 20px;
    background-color: #e6e3e3;
    padding-left: 30px;
    margin-top: 3px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .navbar-nav a {
    margin-bottom: 16px;
    color: #000;
  }

  .profile img {
    margin-left: -20px;
  }

  .profile {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .desc {
    padding: 10px;
    margin-top: 10px;
    margin-left: 13px;
  }

  .hero {
    margin: 100px 0;
    padding: 0;
  }

  .change-photo {
    width: 100%;
  }

  .change-photo img {
    width: 100%;
  }

  .btn-change {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    width: 200px;
    padding: 10px 30px;
    border-radius: 8px;
    background-color: #30c0f3;
    color: #fff;
  }

  .title {
    width: 100%;
    margin-left: 3px;
  }

  .ingredients {
    width: 100%;
    margin-left: 3px;
  }

  .category {
    margin-left: 3px;
  }

  .btn-submit {
    margin: 29px 20px;
  }

  .footer h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .footer p {
    font-size: 12px;
  }
  .nav-list ul {
    flex-wrap: wrap;
    margin-top: 0;
    padding: 0;
  }
  .nav-list ul li a {
    font-size: 14px;
    padding: 0;
    text-decoration: none;
  }

  .nav-list ul .copyright {
    position: static;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .navbar-toggler {
    display: none;
  }

  .my-nav.collapse {
    display: flex !important;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
  }

  .navbar-nav.gap-5 {
    order: 2; /* Mengubah urutan menu navbar */
    flex-direction: row;
  }

  .navbar-nav.ms-auto {
    margin-top: 0;
    order: 1; /* Mengubah urutan profil */
  }

  .hero {
    margin: 100px auto;
    padding: 0;
  }

  .change-photo {
    width: 100%;
  }

  .change-photo img {
    width: 100%;
  }

  .btn-change {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    width: 300px;
    padding: 10px 30px;
    border-radius: 8px;
    background-color: #30c0f3;
    color: #fff;
  }

  .title {
    width: 100%;
    margin-left: 3px;
  }

  .ingredients {
    width: 100%;
    margin-left: 3px;
  }

  .category {
    margin-left: 3px;
  }

  .btn-submit {
    margin: 29px auto;
  }

  .footer h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .footer p {
    font-size: 12px;
  }
  .nav-list ul {
    flex-wrap: wrap;
    margin-top: 0;
    padding: 0;
  }
  .nav-list ul li a {
    font-size: 14px;
    padding: 0;
    text-decoration: none;
  }

  .nav-list ul .copyright {
    position: static;
  }
}
